<script>
  export default {
    props: {
      text: String,
      type: {
        type: String,
        default: 'button'
      },
      clickHandler: {
        type: Function,
        default: () => {
        }
      },
      url: String,
      target: String,
    },
    
    render(h) {
      return (
        this.type === 'link' ? <a
            href={this.url}
            target={this.target}
            domPropsInnerHTML={this.ext}
            class={this.$style.button} /> :
          <button
            class={this.$style.button}
            domPropsInnerHTML={this.text}
            onClick={this.clickHandler}
          />
      )
    }
  }
</script>

<style module lang="scss">
  .button {
    height: 49px;
    border-radius: 24.5px;
    padding: 0 28px;
    
    font-size: 16px;
    
    background-color: #5AC76C;
    color: white;
    
    cursor: pointer;
    transition: background-color .15s ease-in-out, transform .15s ease-in-out;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    &:hover {
      background-color: #60e281;
    }
    
    &:active {
      transform: translateY(1px)
    }
  }
</style>
