<script>
	export default {
	  data() {
	    return {
	      coins: ['bitcoin', 'dash', 'ethereum', 'neo', 'ripple'].map(coin => {
	        const isPng = ['ethereum', 'neo'].indexOf(coin) > -1;
	        
	        return {
            key: coin,
            icon: require(`../assets/svg/${isPng ? 'png/' : ''}${coin}.${isPng ? 'png' : 'svg'}`)
          }
        })
      }
    },
	  
    render(h) {
	    const styles = this.$style;
	    
	    return (
        <div class={styles.wrapper}>
          <div class={styles.container}>
            <div class={styles.list}>
              {this.coins.map(({key, icon}) => (
                <img
                  key={key}
                  class={styles.coin}
                  src={icon}
                />
              ))}
            </div>
          </div>
        </div>
      )
    }
	}
</script>

<style module lang="scss">
  @import "../assets/utilities";
  
  .wrapper {
    padding: 67px;
    
    @include media($xs) {
      padding: 32px;
    }
  
    @include media($xlt) {
      padding: 32px 16px;
    }
  }
  
  .container {
    @include container;
  }
  
  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .coin {
    height: 50px;
    flex-shrink: 0;
    margin: 20px 30px;
  
    @include media($xs) {
      height: 30px;
    }
  }
</style>
