<script>
  export default {
    data() {
      return {
        dataSets: {
          wallets: {
            before: 15745300,
            after: 35000000,
          },
          capitalization: {
            before: 110000000,
            after: 320000000,
          },
          transactions: {
            before: 420000,
            after: 870000,
          }
        }
      }
    },
    
    render(h) {
      const styles = this.$style;
      
      return (
        <div class={styles.wrapper}>
          <div class={styles.container}>
            <div class={styles.grid}>
              {['wallets', 'capitalization', 'transactions'].map(item => (
                <div class={styles.item} key={item}>
                  <div
                    class={styles.title}
                    domPropsInnerHTML={this.$t(`comparison.${item}.title`)}
                  />
                  <div
                    class={styles.description}
                    domPropsInnerHTML={this.$t(`comparison.${item}.description`)}
                  />
                  <div class={styles.data}>
                    {['before', 'after'].map(subItem => (
                      <div class={styles.dataSet} key={`${item}_${subItem}`}>
                        <div
                          class={styles.subTitle}
                          domPropsInnerHTML={this.$t(`comparison.${item}.${subItem}.title`)}
                        />
                        <div
                          class={[styles.bar, styles[subItem]]}
                          domPropsInnerHTML={this.$t(`comparison.${item}.${subItem}.bar`, {
                            value: this.dataSets[item][subItem].toString().split(/(?=(?:\d{3})+$)/).join(' ')
                          })}
                          style={{width: subItem === 'before' ? `${this.dataSets[item].before / this.dataSets[item].after * 100 + 20}%` : '100%'}}
                        />
                      </div>
                    ))}
                  </div>
                </div>
              ))}
            </div>
          </div>
        </div>
      )
    }
  }
</script>

<style module lang="scss">
  @import "../assets/utilities";
  
  .wrapper {
    padding: 0 67px;
    border-bottom: 1px solid #E9E9E9;
  
    @include media($sm) {
      padding: 0;
    }
  }
  
  .container {
    @include container;
  }
  
  .grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 -35px;
    
    @include media($sm) {
      grid-template-columns: 1fr;
      margin: 0;
    }
  }
  
  .item {
    padding: 88px 35px 94px;
    &:not(:first-child) {
      border-left: 1px solid #E9E9E9;
  
      @include media($sm) {
        border-left: none;
        border-top: 1px solid #e9e9e9;
      }
    }
  
    @include media($sm) {
      padding: 32px 67px;
    }
  
    @include media($xs) {
      padding: 32px;
    }
  }
  
  .title {
    font-size: 26px;
    line-height: 31px;
    font-weight: 700;
    color: #0b2c4d;
    max-width: 408px;
    
    @include media($xs) {
      font-size: 18px;
      line-height: 24px;
      text-align: center;
    }
  }
  
  .description {
    margin-top: 28px;
    font-size: 18px;
    line-height: 24px;
    color: #515151;
    max-width: 408px;
  
    @include media($xs) {
      text-align: center;
    }
  }
  
  .data {
    margin-top: 34px;
  }
  
  .dataSet {
    &:not(:first-child) {
      margin-top: 18px;
    }
  }
  
  .subTitle {
    font-weight: 700;
    line-height: 17px;
    font-size: 14px;
    color: #0b2c4d;
  }
  
  .bar {
    margin-top: 9px;
    height: 32px;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 21px;
    color: #fff;
    max-width: 100%;
  
    @include media($xs) {
      white-space: nowrap;
    }
    
    &:after {
      content: '';
      position: absolute;
      left: 100%;
      top: 0;
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
      border-left: 12px solid;
    }
  }
  
  .before {
    background: #027CCD;
    &:after {
      border-left-color: #027ccd;
    }
  }
  
  .after {
    background: #5AC76C;
    &:after {
      border-left-color: #5AC76C;
    }
  }
</style>
