<script>
  export default {
    
    render(h) {
      const styles = this.$style;
      
      return (
        <div class={styles.wrapper}>
          <div class={styles.container}>
            <div class={styles.grid}>
              {['support', 'percents', 'speed'].map(item => (
                <div class={styles.item} key={item}>
                  <div class={[styles.icon, styles[`icon-${item}`]]} />
                  <div
                    class={styles.title}
                    domPropsInnerHTML={this.$t(`features.${item}.title`)}
                  />
                  <div
                    class={styles.description}
                    domPropsInnerHTML={this.$t(`features.${item}.description`)}
                  />
                </div>
              ))}
            </div>
          </div>
        </div>
      )
    }
  }
</script>

<style module lang="scss">
  @import "../assets/utilities";
  
  .wrapper {
    padding: 0 67px;
    border-bottom: 1px solid #E9E9E9;
    
    @include media($xs) {
      padding: 0 32px;
    }
  }
  
  .container {
    @include container;
  }
  
  .grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 -35px;
  
    @include media($xs) {
      grid-template-columns: 1fr;
      margin: 0 -32px;
    }
  }
  
  .item {
    padding: 67px 35px 52px;
    &:not(:first-child) {
      border-left: 1px solid #E9E9E9;
  
      @include media($xs) {
        border-left: none;
        border-top: 1px solid #E9E9E9;
      }
    }
  
    @include media($sm) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  
    @include media($xs) {
      padding-top: 22px;
      padding-bottom: 22px;
    }
  }
  
  .icon {
    height: 80px;
    width: 80px;
    background: no-repeat center;
    background-size: contain;
  
    @include media($sm) {
      height: 58px;
      width: 58px;
    }
  
    @include media($xs) {
      margin: 0 auto;
    }
  }
  
  @each $item in ('support', 'percents', 'speed') {
    .icon-#{$item} {
      background-image: url('../assets/svg/#{$item}.svg')
    }
  }
  
  .title {
    margin-top: 41px;
    font-size: 26px;
    line-height: 31px;
    font-weight: 700;
    color: #0b2c4d;
    max-width: 408px;
  
    @include media($sm) {
      margin-top: 20px;
      font-size: 22px;
    }
  
    @include media($xs) {
      margin: 22px auto 0;
      text-align: center;
    }
  }
  
  .description {
    margin-top: 28px;
    font-size: 18px;
    line-height: 24px;
    color: #515151;
    max-width: 408px;
  
    @include media($sm) {
      font-size: 16px;
      margin-top: 14px;
    }
  
    @include media($xs) {
      margin: 16px auto 0;
      text-align: center;
    }
  }
</style>
