<script>
  import {MUTATION_SET_LANGUAGE} from "../store/i18n";
  
  export default {
    methods: {
      setLanguage(languageKey) {
        this.$store.commit(MUTATION_SET_LANGUAGE, languageKey);
        this.$store.commit('vuei18n/I18N_SET_LOCALE', languageKey);
        this.$i18n.locale = languageKey
      }
    },
    
    computed: {
      contacts() {
        return this.$store.state.contacts;
      },
      activeLanguageKey() {
        return this.$store.state.i18n.language;
      },
      languages() {
        return this.$store.getters['i18n/languages'];
      }
    },
    
    render(h) {
      const styles = this.$style;
      const {email, phones, city, address} = this.contacts;
      
      return (
        <div class={styles.wrapper}>
          <div class={styles.container}>
            <div class={styles.logo} />
            {/*<div class={styles.languages}>
              {this.languages.map(({key}) => (
                <button
                  key={key}
                  class={{
                    [styles.language]: true,
                    [styles.activeLanguage]: key === this.activeLanguageKey
                  }}
                  onClick={() => this.setLanguage(key)}
                  domPropsInnerHTML={key}
                />
              ))}
            </div>*/}
            <div class={styles.contactsWrapper}>
              <div class={styles.contacts}>
                <div
                  class={styles.phones}
                >
                  <div class={styles.phonesList}>
                    {phones.map(phone => (
                      <a
                        href={`tel:${String(phone.text || phone).replace(/[^\d\+]/g, '')}`}
                        class={[
                          styles.phone,
                          phone.icon ? styles[`${phone.icon}Phone`] : null,
                        ]} domPropsInnerHTML={phone.text || phone} />
                    ))}
                  </div>
                </div>
                <a
                  href={`mailto:${email}`}
                  class={styles.email}
                  domPropsInnerHTML={email}
                />
              </div>
            </div>
            <div class={styles.placeWrapper}>
              <div class={styles.place}>
                <div
                  class={styles.city}
                  domPropsInnerHTML={city}
                />
                <div
                  class={styles.address}
                  domPropsInnerHTML={address}
                />
              </div>
            </div>
          </div>
        </div>
      )
    }
  }
</script>

<style module lang="scss">
  @import "../assets/utilities";
  
  .wrapper {
    height: 143px;
    background: #0B2C4D;
    
    @include media($sm) {
      height: auto;
    }
  }
  
  .container {
    //@include container;
    display: flex;
    height: 100%;
    
    @include media($sm) {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
  }
  
  .logo {
    background: no-repeat center url(../assets/svg/logoWhite.svg);
    background-size: contain;
    
    height: 100%;
    width: 126px;
    margin-left: 15px;
    margin-right: auto;
    
    @include media($sm) {
      height: 116px;
      margin-left: 0;
      width: 100%;
      background-size: 100px;
      border-top: 1px solid #e9e9e9;
    }
  }
  
  .languages {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 65px;
    
    @include media($sm) {
      width: 100%;
      height: 116px;
      margin-left: 0;
      border-top: 1px solid #e9e9e9;
    }
  }
  
  .language {
    color: #fff;
    margin: 0 15px;
    text-transform: uppercase;
    
    @include media($sm) {
      height: 100%;
      flex-grow: 1;
      margin: 0;
      
      &:not(:last-child) {
        border-right: 1px solid #e9e9e9;
      }
    }
  }
  
  .activeLanguage {
    cursor: default;
    opacity: .6;
  }
  
  .contactsWrapper {
    margin-left: 30px;
    display: flex;
    align-items: center;
    
    @include media($sm) {
      height: 154px;
      width: 100%;
      margin-left: 0;
      text-align: center;
      border-top: 1px solid #e9e9e9;
    }
  }
  
  .contacts {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    @include media($sm) {
      display: inline-grid;
      margin: 0 auto;
    }
  }
  
  .phones, .city {
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
    color: #fff;
  }
  
  .phonesList {
    display: grid;
    grid-gap: 3px;
  }
  
  .phone {
    display: flex;
    align-items: center;
  }
  
  .telegramPhone {
    &:after {
      content: '';
      background: #fff;
      height: 20px;
      width: 20px;
      display: block;
      margin-left: 4px;
      mask: no-repeat center url(../assets/svg/telegram.svg);
      mask-size: contain;
    }
  }
  
  .email, .address {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
  }
  
  .placeWrapper {
    margin-left: 54px;
    display: flex;
    align-items: center;
    
    @include media($sm) {
      height: 116px;
      text-align: center;
      width: 100%;
      margin-left: 0;
    }
  }
  
  .place {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    margin-right: 15px;
    
    @include media($sm) {
      margin-right: 0;
      width: 100%;
    }
  }
</style>
