<script>
  import ButtonComponent from "./ButtonComponent";
  import {MUTATION_SHOW_MODAL} from "../store/modal";
  
  export default {
    components: {ButtonComponent},
    methods: {
      installClick(e) {
        e.preventDefault();
        
        this.$store.commit(MUTATION_SHOW_MODAL)
      }
    },
    render(h) {
      const styles = this.$style;
      return (
        <div class={styles.wrapper}>
          <div class={styles.container}>
            <div class={styles.franchise}>
              <div class={[styles.info, styles.infoFranchise]}>
                <div
                  class={styles.title}
                  domPropsInnerHTML={this.$t('franchise.franchise.title')}
                />
                <div class={styles.list}>
                  {['register', 'money'].map(item => (
                    <div
                      key={item}
                      class={styles.item}
                      domPropsInnerHTML={this.$t(`franchise.franchise.${item}`)}
                    />
                  ))}
                </div>
                <ButtonComponent
                  class={styles.installButton}
                  clickHandler={this.installClick}
                  domPropsInnerHTML={this.$t('franchise.franchise.installButton')}
                />
              </div>
              <div class={[
                styles.image,
                styles.imageFranchise
              ]} />
            </div>
            <div class={styles.tech}>
              <div class={[styles.info, styles.infoTech]}>
                <div
                  class={styles.title}
                  domPropsInnerHTML={this.$t('franchise.tech.title')}
                />
                <div
                  class={styles.description}
                  domPropsInnerHTML={this.$t('franchise.tech.description')}
                />
                <ButtonComponent type="link" url="/presentation.pdf" target="_blank"
                   class={styles.downloadButton}
                   domPropsInnerHTML={this.$t('franchise.tech.downloadButton')}
                />
              </div>
              <div class={[
                styles.image,
                styles.imageTech
              ]} />
            </div>
          </div>
        </div>
      )
    }
  }
</script>

<style module lang="scss">
  @import "../assets/utilities";
  
  .wrapper {
    padding: 0 67px;
    border-bottom: 1px solid #E9E9E9;
    
    @include media($xs) {
      padding: 0 32px;
    }
  }
  
  .container {
    @include container;
    display: grid;
    grid-template-columns: 3fr 2fr;
    
    @include media($xlg) {
      grid-template-columns: 1fr;
    }
  }
  
  .franchise {
    border-right: 1px solid #e9e9e9;
    padding: 77px 128px 57px 0;
    display: flex;
    align-items: center;
    
    @include media($xlg) {
      padding: 77px 0 57px;
      border-right: none;
      border-bottom: 1px solid #e9e9e9;
    }
    
    @include media($xs) {
      position: relative;
      padding: 32px 0;
    }
  }
  
  .info {
    flex-grow: 1;
  }
  
  .infoFranchise {
    max-width: 643px;
    
    @include media($xs) {
      max-width: none;
    }
  }
  
  .title {
    font-size: 26px;
    line-height: 31px;
    font-weight: 700;
    color: #0b2c4d;
    
    @include media($xlt) {
      font-size: 18px;
    }
  }
  
  .list {
    margin-top: 39px;
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
    
    @include media($xs) {
      margin-top: 50px;
      margin-left: 60px;
    }
    
    @include media($xlt) {
      grid-row-gap: 15px;
    }
  }
  
  .item {
    padding-left: 87px;
    background: no-repeat left center url(../assets/svg/check-o.svg);
    min-height: 50px;
    display: flex;
    align-items: center;
    background-size: 50px 50px;
    font-size: 18px;
    line-height: 24px;
    color: #515151;
    
    @include media($xlt) {
      font-size: 16px;
      padding-left: 42px;
      background-size: 30px 30px;
    }
  }
  
  .installButton {
    margin-top: 50px;
    @include media($xs) {
      margin-top: 23px;
      width: calc(100% - 60px);
      margin-left: 60px;
    }
  }
  
  .image {
    background: no-repeat center center;
    background-size: contain;
    flex-shrink: 0;
    margin-left: auto;
    
    @include media($xs) {
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(-50%) translateX(40px);
      margin-left: 0;
    }
  }
  
  .imageFranchise {
    background-image: url(../assets/svg/atm.svg);
    width: 257px;
    height: 293px;
    
    @include media($xs) {
      width: 153px;
      height: 174px;
    }
  }
  
  .tech {
    display: flex;
    align-items: center;
    padding-left: 61px;
    
    @include media($xlg) {
      padding: 32px 0;
    }
    
    @include media($xs) {
      position: relative;
    }
  }
  
  .infoTech {
    max-width: 320px;
    @include media($xs) {
      max-width: none;
    }
  }
  
  .description {
    margin-top: 26px;
    font-size: 18px;
    line-height: 24px;
    color: #515151;
    @include media($xs) {
      margin-left: 60px;
    }
  }
  
  .downloadButton {
    margin-top: 48px;
    @include media($xs) {
      margin-top: 23px;
      width: calc(100% - 60px);
      margin-left: 60px;
    }
  }
  
  .imageTech {
    height: 291px;
    width: 200px;
    background-image: url(../assets/svg/folder.svg);
    
    @include media($xs) {
      width: 120px;
      height: 174px;
    }
  }
</style>
