<script>
	export default {
	  render(h) {
	    const styles = this.$style;
	    
	    return (
	      <div class={styles.wrapper}>
          <div class={styles.container}>
            <div class={styles.image}/>
            <div
              class={styles.title}
              domPropsInnerHTML={this.$t('future.title')}
            />
            <div
              class={styles.description}
              domPropsInnerHTML={this.$t('future.description')}
            />
          </div>
        </div>
      )
    }
	}
</script>

<style module lang="scss">
  @import "../assets/utilities";
  
  .wrapper {
    padding: 79px 67px 84px;
    border-bottom: 1px solid #E9E9E9;
  
    @include media($lg) {
      padding: 32px 67px 32px;
    }
  
    @include media($xs) {
      padding: 25px 32px;
    }
  }
  
  .container {
    @include container;
    display: flex;
    align-items: center;
  
    @include media($sm) {
      flex-wrap: wrap;
    }
    
    @include media($xlt) {
      position: relative;
    }
  }
  
  .image {
    height: 179px;
    width: 90px;
    background: no-repeat center url(../assets/svg/flashDrive.svg);
    background-size: contain;
    flex-shrink: 0;
  
    @include media($xs) {
      height: 115px;
      width: 70px;
    }
  
    @include media($xlt) {
      position: absolute;
      top: 0;
      left: 0;
      width: 19px;
      height: 38px;
    }
  }
  
  .title {
    font-weight: 900;
    font-size: 42px;
    line-height: 50px;
    color: #027ccd;
    max-width: 410px;
    margin-left: 118px;
  
    @include media($md) {
      margin-left: 50px;
    }
  
    @include media($xs) {
      margin-left: 24px;
      font-size: 24px;
      line-height: 32px;
      max-width: 200px;
    }
  
    @include media($xlt) {
      padding-left: 38px;
      margin-left: 0;
      font-size: 19px;
      line-height: 23px;
      max-width: none;
    }
  }
  
  .description {
    font-size: 18px;
    line-height: 24px;
    color: #515151;
    max-width: 806px;
    margin-left: 73px;
    margin-right: auto;
    
    @include media($md) {
      margin-left: 35px;
    }
  
    @include media($sm) {
      width: 100%;
      margin-left: 0;
      margin-top: 24px;
    }
  
    @include media($xlt) {
      margin-top: 18px;
      font-size: 14px;
      line-height: 18px;
    }
  }
</style>
