<script>
  import {MUTATION_SET_LANGUAGE} from "../store/i18n";
  import ButtonComponent from "./ButtonComponent";
  import {MUTATION_SHOW_MODAL} from "../store/modal";
  
  export default {
    mounted() {
      document.addEventListener('click', this.handleClick)
      document.addEventListener('resize', this.handleResizeAndScroll)
      document.querySelector('.body').addEventListener('scroll', this.handleResizeAndScroll)
    },
    beforeDestroy() {
      document.removeEventListener('click', this.handleClick)
      document.removeEventListener('resize', this.handleResizeAndScroll)
      document.querySelector('.body').removeEventListener('scroll', this.handleResizeAndScroll)
    },
    data() {
      return {
        isActive: false
      }
    },
    methods: {
      handleResizeAndScroll(e) {
        if (this.isActive) {
          this.isActive = false;
        }
      },
      handleClick(e) {
        if (!this.$refs.menu.contains(e.target)) {
          this.isActive = false;
        }
      },
      toggleIsActive(e) {
        e.preventDefault();
        e.stopPropagation();
        
        this.isActive = !this.isActive;
      },
      setLanguage(languageKey) {
        this.$store.commit(MUTATION_SET_LANGUAGE, languageKey);
        this.$store.commit('vuei18n/I18N_SET_LOCALE', languageKey);
        this.$i18n.locale = languageKey
      },
      installClick(e) {
        this.$store.commit(MUTATION_SHOW_MODAL)
      }
    },
    
    computed: {
      contacts() {
        return this.$store.state.contacts;
      },
      activeLanguageKey() {
        return this.$store.state.i18n.language;
      },
      languages() {
        return this.$store.getters['i18n/languages'];
      }
    },
    
    render(h) {
      const styles = this.$style;
      const {email, phones} = this.contacts;
      
      return (
        <div class={styles.header}>
          <div class={styles.container}>
            <div class={styles.logo} />
            <button onClick={this.toggleIsActive} class={{
              [styles.sectionsToggler]: true,
              [styles.sectionsTogglerActive]: this.isActive,
            }} />
            <div ref="menu" class={{
              [styles.sections]: true,
              [styles.sectionsActive]: this.isActive,
            }}>
              <div class={styles.sectionsContent}>
                <div class={[styles.section, styles.phones]}>
                  <div class={styles.phonesList}>
                    {phones.map(phone => <a
                      href={`tel:${(phone.text || phone).replace(/[^\d\+]/g, '')}`}
                      class={[
                        styles.phone,
                        phone.icon ? styles[`${phone.icon}Phone`] : null
                      ]}
                      domPropsInnerHTML={phone.text || phone} />)}
                  </div>
                </div>
                <a
                  href={`mailto:${email}`}
                  class={[styles.section, styles.email]}
                  domPropsInnerHTML={email}
                />
                <div class={[styles.section, styles.button]}>
                  <ButtonComponent class={styles.installButton}
                                   clickHandler={this.installClick}
                                   text={this.$t('header.installButton')} />
                </div>
                {/*<div class={styles.languages}>
                  {this.languages.map(({key}) => (
                    <button
                      key={key}
                      class={{
                        [styles.language]: true,
                        [styles.activeLanguage]: key === this.activeLanguageKey
                      }}
                      onClick={() => this.setLanguage(key)}
                      domPropsInnerHTML={key}
                    />
                  ))}
                </div>*/}
              </div>
            </div>
          </div>
        </div>
      )
    }
  }
</script>

<style module lang="scss">
  @import "../assets/utilities";
  
  .header {
    height: 103px;
    
    @include media($sm) {
      height: 80px;
    }
    
    @include media($xs) {
      height: 50px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: white;
      padding: 5px 5px 0;
      z-index: 20;
    }
  }
  
  .container {
    //@include container;
    display: flex;
    height: 100%;
    
    @include media($xs) {
      border: 1px solid #e9e9e9;
    }
  }
  
  .logo {
    background: no-repeat center url(../assets/svg/logo.svg);
    background-size: contain;
    
    flex-shrink: 0;
    
    height: 100%;
    width: 126px;
    margin-left: 15px;
    
    margin-right: auto;
    
    @include media($xs) {
      width: 70px;
    }
  }
  
  .sectionsToggler {
    width: 51px;
    height: 100%;
    display: block;
    background: #133659;
    mask: no-repeat center url(../assets/svg/hamburger.svg);
    mask-size: 29px 12px;
    transition: mask .15s ease-in-out;
    
    @include media($xs, false) {
      display: none;
    }
  }
  
  .sectionsTogglerActive {
    mask-image: url(../assets/svg/close.svg);
    mask-size: 21px 21px;
  }
  
  .sections {
    transition: visibility .15s ease-in-out, opacity .15s ease-in-out;
    
    @include media($xs) {
      background: #fff;
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 5px 5px;
      visibility: hidden;
      opacity: 0;
    }
  }
  
  .sectionsContent {
    display: flex;
    height: 100%;
    
    &:after {
      content: '';
      flex-grow: 1;
      width: 100%;
      background: #027CCD no-repeat bottom -20px center url(../assets/svg/bigAtm.svg);
      background-size: contain;
      display: none;
    }
    
    @include media($xs) {
      flex-direction: column;
      border: 1px solid #e9e9e9;
      border-top: none;
      z-index: 20;
      
      &:after {
        display: block;
      }
    }
  }
  
  .sectionsActive {
    @include media($xs) {
      visibility: visible;
      opacity: 1;
    }
  }
  
  .section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #E9E9E9;
    
    @include media($xs) {
      border-left: none;
      border-bottom: 1px solid #E9E9E9;
      height: 70px;
    }
  }
  
  .phones {
    margin-left: 10px;
    padding: 0 45px;
    
    @include media($lg) {
      padding: 0 32px;
    }
    
    @include media($md) {
      padding: 0 14px;
    }
    
    @include media($xs) {
      margin-left: 0;
      font-size: 18px !important;
      height: 100px;
    }
  }
  
  .phonesList {
    display: grid;
    grid-row-gap: 5px;
  }
  
  .phone {
    display: flex;
    align-items: center;
  }
  
  .telegramPhone {
    &:after {
      content: '';
      background: #027ccd;
      height: 20px;
      width: 20px;
      display: block;
      margin-left: 4px;
      mask: no-repeat center url(../assets/svg/telegram.svg);
      mask-size: contain;
    }
  }
  
  .email {
    padding: 0 47px;
    
    @include media($lg) {
      padding: 0 32px;
    }
    
    @include media($md) {
      padding: 0 14px;
    }
    
    @include media($xs) {
      font-size: 18px !important;
    }
  }
  
  .phone,
  .email {
    font-size: 18px;
    font-weight: 700;
    color: #0B2C4D;
    
    @include media($md) {
      font-size: 14px;
    }
  }
  
  .button {
    padding: 0 29px;
    
    @include media($md) {
      padding: 0 14px;
    }
  }
  
  .installButton {
    @include media($xs) {
      height: 34px;
      padding: 0 25px;
      line-height: 12px;
    }
  }
  
  .languages {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #E9E9E9;
    
    @include media($xs) {
      flex-direction: row;
      height: 70px;
      border-left: none;
      border-bottom: 1px solid #E9E9E9;
    }
  }
  
  .language {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #027CCD;
    text-transform: uppercase;
    width: 103px;
    
    &:not(:last-child) {
      border-bottom: 1px solid #E9E9E9;
      
      @include media($xs) {
        border-bottom: none;
        border-right: 1px solid #E9E9E9;
      }
    }
  }
  
  .activeLanguage {
    color: #515151;
  }
</style>
