<script>
  import WidgetComponent from '../components/WidgetComponent'
  
  export default {
    
    render(h) {
      const styles = this.$style;
      
      return (
        <div class={styles.wrapper}>
          <div class={styles.container}>
            <div class={styles.grid}>
              <div class={styles.contentWrapper}>
                <div class={styles.content}>
                  <div
                    class={styles.title}
                    domPropsInnerHTML={this.$t('howItWorks.title')}
                  />
                  <div
                    class={styles.description}
                    domPropsInnerHTML={this.$t('howItWorks.description')}
                  />
                  <div
                    class={styles.subTitle}
                    domPropsInnerHTML={this.$t('howItWorks.benefitsTitle')}
                  />
                  <div class={styles.benefits}>
                    {['speed', 'comfort', 'unlimited'].map(item => (
                      <div
                        key={item}
                        class={styles.benefit}
                        domPropsInnerHTML={this.$t(`howItWorks.${item}`)}
                      />
                    ))}
                  </div>
                </div>
              </div>
              <div class={styles.widget}>
                <WidgetComponent />
              </div>
            </div>
          </div>
        </div>
      )
    }
  }
</script>

<style module lang="scss">
  @import "../assets/utilities";
  
  .wrapper {
    padding: 0 67px;
    border-bottom: 1px solid #E9E9E9;
  
    @include media($lg) {
      padding: 0;
    }
  }
  
  .container {
    @include container;
  }
  
  .grid {
    display: grid;
    grid-gap: 116px;
    grid-template-columns: 4fr 5fr;
  
    @include media($xlg) {
      grid-gap: 52px;
    }
  
    @include media($lg) {
      grid-gap: 32px;
      grid-template-columns: 1fr;
    }
  
    @include media($xs) {
      grid-gap: 25px;
    }
  }

  .contentWrapper {
    display: flex;
    align-items: center;
  
    @include media($lg) {
      padding: 0 67px;
    }
  
    @include media($xs) {
      padding: 34px 32px 0;
    }
  }
  
  .title {
    font-size: 42px;
    line-height: 50px;
    font-weight: 900;
    color: #027ccd;
  
    @include media($lg) {
      margin-top: 30px;
    }
  
    @include media($xs) {
      margin-top: 0;
      font-size: 23px;
      line-height: 23px;
      text-align: center;
    }
  }
  
  .description {
    margin-top: 32px;
    font-size: 18px;
    line-height: 24px;
    color: #515151;
    min-height: 154px;
  
    @include media($xs) {
      margin-top: 16px;
      text-align: center;
      font-size: 14px;
      line-height: 24px;
      min-height: auto;
    }
  }
  
  .subTitle {
    margin-top: 16px;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #0b2c4d;
    min-height: 62px;
  
    @include media($xs) {
      margin-top: 22px;
      font-size: 18px;
      line-height: 21px;
      min-height: auto;
    }
  }
  
  .benefits {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 66px;
    grid-row-gap: 49px;
  
    @include media($xs) {
      grid-template-columns: 1fr;
      grid-row-gap: 15px;
      margin-top: 25px;
    }
  }
  
  .benefit {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    color: #515151;
    min-height: 50px;
    display: flex;
    align-items: center;
  
    @include media($xs) {
      font-size: 14px;
    }
    
    &:before {
      content: '';
      height: 50px;
      width: 50px;
      display: block;
      margin-right: 16px;
      background: no-repeat center url('../assets/svg/check-o.svg');
      background-size: contain;
      flex-shrink: 0;
  
      @include media($xs) {
        height: 32px;
        width: 32px;
      }
    }
  }
</style>
