<script>
  import ButtonComponent from "./ButtonComponent";
  import {MUTATION_HIDE_MODAL} from "../store/modal";
  
  export default {
    mounted() {
      this.$refs.modal.addEventListener('click', this.handleClick)
    },
    beforeDestroy() {
      this.$refs.modal.removeEventListener('click', this.handleClick)
    },
    methods: {
      handleClick(e) {
        if(!this.$refs.dialog.contains(e.target)) {
          this.close()
        }
      },
      async submit(e) {
        e.preventDefault()
        
        this.$axios.$post('/subscribe.php', this.model)
          .then(response => {
            if (response.status === 200) {
              this.isSubmitted = true;
            } else {
              this.errors = response.errors || {}
            }
          })
      },
      close(e) {
        e && e.preventDefault();
        this.$store.commit(MUTATION_HIDE_MODAL)
      }
    },
    computed: {
      isActive() {
        return this.$store.state.modal.isActive;
      }
    },
    data() {
      return {
        model: {
          from: 'modal',
          name: '',
          email: '',
          phone: '',
        },
        errors: {},
        isSubmitted: false,
      }
    },
    render(h) {
      const styles = this.$style;
      return (
        <div ref="modal" class={{
          [styles.wrapper]: true,
          [styles.wrapperActive]: this.isActive,
        }}>
          <div class={styles.container}>
            <div ref="dialog" class={{
              [styles.dialog]: true,
              [styles.dialogActive]: this.isActive,
            }}>
              <div class={styles.header}>
                <div
                  class={styles.title}
                  domPropsInnerHTML={this.$t('modal.title')}
                />
                <button class={styles.closeButton} onClick={this.close} />
              </div>
              <div class={styles.body}>
                {this.isSubmitted ? <div class={styles.submitted} domPropsInnerHTML={this.$t('modal.submitted')} /> :
                  <div>
                    <div
                      class={styles.description}
                      domPropsInnerHTML={this.$t('modal.description')}
                    />
                    <form
                      onSubmit={this.submit}
                      class={styles.form}
                    >
                      {['name', 'email', 'phone'].map(field => (
                        <div class={styles.group}>
                          <div class={styles.field}>
                            <input
                              class={{
                                [styles.input]: true,
                                [styles.errorInput]: this.errors[field]
                              }}
                              placeholder={this.$t(`modal.${field}`) + '*'}
                              onInput={e => {
                                this.model[field] = e.target.value
                              }}
                              value={this.model[field]}
                            />
                          </div>
                        </div>
                      ))}
                      {Object.keys(this.errors).length ?
                        <div class={styles.error} domPropsInnerHTML={this.$t('modal.error')} /> : null}
                      <div class={styles.controls}>
                        <ButtonComponent
                          clickHandler={this.submit}
                          class={styles.submitButton}
                          text={this.$t('modal.submitButton')}
                        />
                        <div
                          class={styles.agreement}
                          domPropsInnerHTML={this.$t('modal.agreement', {
                            link: `<a href="#">${this.$t('modal.agreementLink')}</a>`
                          })}
                        />
                      </div>
                    </form>
                  </div>}
              </div>
            </div>
          </div>
        </div>
      )
    }
  }
</script>

<style module lang="scss">
  @import "../assets/utilities";
  
  .wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 136px 30px;
    background: rgba(0, 0, 0, 0.71);
    z-index: 30;
    
    opacity: 0;
    visibility: hidden;
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
    
    @include media($xs) {
      padding: 42px 7px 0;
    }
  }
  
  .wrapperActive {
    opacity: 1;
    visibility: visible;
  }
  
  .container {
    max-width: 850px;
    margin: 0 auto;
  }
  
  .dialog {
    background: #fff;
    
    transform: translateY(-10px);
    transition: transform .15s ease-in-out;
  }
  
  .dialogActive {
    transform: translateY(0);
  }
  
  .header {
    display: flex;
    align-items: center;
    height: 103px;
    padding-left: 47px;
    border-bottom: 1px solid #e9e9e9;
    
    @include media($xs) {
      height: 56px;
      padding-left: 8px;
    }
  }
  
  .title {
    font-weight: 900;
    font-size: 42px;
    line-height: 50px;
    color: #027ccd;
    
    @include media($xs) {
      font-size: 18px;
      line-height: 21px;
    }
  }
  
  .closeButton {
    border-left: 1px solid #e9e9e9;
    width: 123px;
    flex-shrink: 0;
    height: 100%;
    background: no-repeat center url(../assets/svg/close.svg);
    background-size: 26px 26px;
    display: block;
    margin-left: auto;
    
    cursor: pointer;
    
    transition: opacity .15s ease-in-out;
    
    &:not(:hover):not(:focus) {
      opacity: .8;
    }
    
    @include media($xs) {
      width: 56px;
      background-size: 15px 15px;
    }
  }
  
  .body {
    padding: 43px 52px 62px;
    
    @include media($xs) {
      padding: 13px 9px 25px;
    }
  }
  
  .submitted {
    font-size: 24px;
    font-weight: 500;
    opacity: .8;
    color: #027ccd;
  }
  
  .description {
    font-size: 18px;
    line-height: 24px;
    color: #515151;
    
    @include media($xs) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  
  .form {
    margin-top: 47px;
    
    @include media($xs) {
      margin-top: 15px;
    }
  }
  
  .group {
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
  
  .input {
    border-bottom: 1px solid #677897;
    padding: 6px 0;
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    color: #677897;
    
    &::placeholder {
      color: #677897;
      opacity: .6;
    }
    
    @include media($xs) {
      font-size: 16px;
    }
  }
  
  .errorInput {
    border-bottom-color: #ff3d3c;
  }
  
  .error {
    margin-top: 10px;
    color: #ff3d3c;
    font-weight: 500;
    font-size: 16px;
  }
  
  .controls {
    margin-top: 41px;
    display: flex;
    align-items: center;
    
    @include media($xs) {
      margin-top: 29px;
      flex-direction: column;
    }
  }
  
  .submitButton {
    flex-shrink: 0;
    
    @include media($xs, false) {
      background-color: #027CCD;
      
      &:hover {
        background-color: #0290ea;
      }
    }
    
    @include media($xs) {
      width: 100%;
      height: 35px;
      font-size: 14px;
    }
  }
  
  .agreement {
    margin-left: 28px;
    font-size: 18px;
    line-height: 23px;
    max-width: 471px;
    
    a {
      color: #027ccd;
      
      &:not(:hover):not(:focus) {
        opacity: .7;
      }
    }
    
    @include media($xs) {
      margin-left: 0;
      margin-top: 25px;
      font-size: 14px;
      text-align: center;
    }
  }
</style>
