<script>
  import ButtonComponent from "./ButtonComponent";
  
  export default {
    methods: {
      async submit(e) {
        e.preventDefault()
  
        this.$axios.$post('/subscribe.php', this.model)
          .then(response => {
            if (response.status === 200) {
              this.isSubmitted = true;
            } else {
              this.errors = response.errors || {}
            }
          })
      }
    },
    data() {
      const link = 'http://utonwallet.com';
      return {
        model: {
          from: 'subscribe',
          email: '',
        },
        errors: {},
        isSubmitted: false,
        socials: [
          {key: 'telegram', link: `https://telegram.me/share/url?url=${link}`},
          {key: 'facebook', link: `https://www.facebook.com/sharer/sharer.php?u=${link}`},
          {key: 'twitter', link: `http://twitter.com/share?url=${link}`},
          {key: 'reddit', link: `http://www.reddit.com/submit?url=${link}`},
          // {key: 'youtube', link: ``},
          // {key: 'github', link: '/'},
        ].map(item => ({
          ...item,
          icon: require(`../assets/svg/${item.key}.svg`)
        }))
      }
    },
    
    render(h) {
      const styles = this.$style;
      
      return (
        <div class={styles.wrapper}>
          <div class={styles.subscription}>
            <div class={[styles.container, styles.containerLeft]}>
              <div class={styles.formWrapper}>
                <div
                  class={styles.title}
                  domPropsInnerHTML={this.$t('subscription.title')}
                />
                {this.isSubmitted ?
                  <div class={styles.submitted} domPropsInnerHTML={this.$t('subscription.submitted')} />
                  : <div>
                    <div
                      class={styles.description}
                      domPropsInnerHTML={this.$t('subscription.description')}
                    />
                    <form onSubmit={this.submit} class={styles.form}>
                      <input
                        class={{
                          [styles.input]: true,
                          [styles.inputError]: this.errors['email']
                        }}
                        placeholder={this.$t('subscription.placeholder') + '*'}
                        value={this.model.email}
                        onInput={(e) => {
                          this.model.email = e.target.value
                        }}
                      />
                      <ButtonComponent clickHandler={this.submit}
                                       class={styles.submitButton}
                                       text={this.$t('subscription.submitButton')} />
                    </form>
                  </div>}
              </div>
            </div>
          </div>
          <div class={styles.socials}>
            <div class={[styles.container, styles.containerRight]}>
              <div class={styles.socialsWrapper}>
                <div
                  class={styles.socialsTitle}
                  domPropsInnerHTML={this.$t('subscription.socialsTitle')}
                >
                </div>
                <div class={styles.socialsList}>
                  {this.socials.map(({key, link, icon}) => (
                      <a
                        key={key}
                        href={link}
                        target="_blank"
                        class={styles.social}
                      >
                        <i style={{maskImage: `url(${icon})`}} />
                      </a>
                    )
                  )}
                </div>
              </div>
            </div>
          </div>
        </div>
      )
    }
  }
</script>

<style module lang="scss">
  @import "../assets/utilities";
  
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #E9E9E9;
    
    @include media($xs) {
      grid-template-columns: 1fr;
    }
  }
  
  .subscription {
    padding: 123px 0 124px 67px;
    
    background: #027CCD no-repeat right 67px center url(../assets/svg/bigLogo.svg);
    background-size: 243px;
    
    @include media($xxlg) {
      background-image: none;
    }
    
    @include media($lg) {
      padding: 64px 24px 64px 67px;
    }
    
    @include media($xs) {
      padding: 32px;
    }
  }
  
  .container {
    max-width: 930px;
  }
  
  .containerLeft {
    margin-left: auto;
  }
  
  .submitted {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
  }
  
  .formWrapper {
    max-width: 408px;
    
    @include media($xs) {
      max-width: none;
    }
  }
  
  .title {
    font-size: 26px;
    line-height: 31px;
    font-weight: 700;
    color: #fff;
  }
  
  .description {
    margin-top: 26px;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
  }
  
  .form {
    margin-top: 50px;
    display: flex;
    align-items: center;
    
    @include media($xlt) {
      display: grid;
      grid-gap: 16px;
    }
  }
  
  .input {
    padding-bottom: 7px;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    flex-grow: 1;
    
    transition: opacity .1s ease-in-out;
    
    &:not(:hover):not(:focus) {
      opacity: .8;
    }
    
    &::placeholder {
      color: #fff;
      opacity: .7;
    }
  }
  
  .inputError {
    border-bottom-color: #ff3d3c;
  }
  
  .submitButton {
    margin-left: 16px;
    
    @include media($xlt) {
      margin-left: 0;
    }
  }
  
  .socials {
    display: flex;
    
    @include media($xs) {
      padding: 32px;
    }
  }
  
  .containerRight {
    margin-right: auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .socialsWrapper {
    max-width: 230px;
    flex-grow: 1;
  }
  
  .socialsTitle {
    color: #0b2c4d;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
  }
  
  .socialsList {
    /*margin-top: 55px;*/
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*grid-gap: 42px 32px;*/
    display: flex;
    flex-wrap: wrap;
    margin: 13px -32px 0;
  }
  
  .social {
    width: 50px;
    height: 44px;
    padding: 3px;
    position: relative;
    margin: 42px auto;
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
      border-radius: 100%;
      background: #027CCD;
      pointer-events: none;
    }
    
    > i {
      height: 100%;
      width: 100%;
      display: block;
      background: #0B2C4D;
      margin: 0 auto;
      mask: no-repeat center;
      mask-size: contain;
    }
    
    &:not(:hover) {
      &:before {
        transform: scale(0);
      }
    }
    
    &:hover {
      > i {
        background: #fff;
      }
    }
  }
</style>
