<script>
  import ButtonComponent from "./ButtonComponent";
  import {MUTATION_SHOW_MODAL} from "../store/modal";
  
  export default {
    methods: {
      installClick(e) {
        e.preventDefault();
      
        this.$store.commit(MUTATION_SHOW_MODAL)
      }
    },
    render(h) {
      const styles = this.$style;
      
      return (
        <div class={styles.wrapper}>
          <div class={styles.container}>
            <div class={styles.title} domPropsInnerHTML={this.$t('top.title')} />
            <div class={styles.subTitle} domPropsInnerHTML={this.$t('top.subTitle')} />
            <div class={styles.description} domPropsInnerHTML={this.$t('top.description')} />
            <ButtonComponent
              clickHandler={this.installClick}
              class={styles.installButton}
              text={this.$t('top.installButton')}
            />
          </div>
        </div>
      )
    }
  }
</script>

<style module lang="scss">
  @import "../assets/utilities";
  
  .wrapper {
    background: #027CCD;
    padding: 0 67px;
    position: relative;
  
    @include media($xs) {
      padding: 0 32px;
      margin-top: 42px;
    }
  }
  
  .container {
    @include container;
    padding: 219px 0 128px;
    background: no-repeat right bottom url(../assets/svg/topImage.svg);
    background-size: contain;
    
    > * {
      position: relative;
    }
    
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #027CCD;
      opacity: .7;
      transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
      
      @include media($screen, false) {
        opacity: 0;
        visibility: hidden;
      }
    }
    
    @include media($lg) {
      padding-top: 128px;
    }
  
    @include media($xs) {
      background-image: none;
      padding: 80px 0;
    }
  
    @include media($xlt) {
      padding: 33px 0;
    }
  }
  
  .title {
    font-size: 54px;
    line-height: 64px;
    color: white;
    font-weight: 900;
  
    @include media($xlt) {
      text-align: center;
      font-size: 26px;
      line-height: 31px;
    }
  }
  
  .subTitle {
    margin-top: 9px;
    font-size: 30px;
    line-height: 36px;
    color: white;
    max-width: 551px;
  
    @include media($xlt) {
      margin-top: 18px;
      font-size: 17px;
      line-height: 17px;
      text-align: center;
    }
  }
  
  .description {
    margin-top: 44px;
    font-size: 18px;
    line-height: 24px;
    color: white;
    max-width: 588px;
  
    @include media($xlt) {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      margin: 22px auto 0;
    }
  }
  
  .installButton {
    margin-top: 28px;
  
    @include media($xlt) {
      height: 35px;
      font-size: 14px;
      margin: 19px auto 0;
      display: block;
      width: 100%;
      max-width: 196px;
    }
  }
</style>
