<script>
  export default {
    computed: {
      fee() {
        return Math.round(this.value * 100 * .06) / 100;
      },
      withoutFee() {
        return Math.round(this.value * 100 * .94) / 100;
      },
    },
    data() {
      return {
        value: 1000,
      }
    },
    render(h) {
      const styles = this.$style;
      
      return (
        <div class={styles.widget}>
          <div class={styles.top}>
            <div class={styles.image} />
          </div>
          <div class={styles.grid}>
            <div class={styles.in}>
              <div
                class={styles.title}
                domPropsInnerHTML={this.$t(`widget.title`)}
              />
              <div class={styles.inForm}>
                <div
                  class={styles.label}
                  domPropsInnerHTML={this.$t(`widget.inLabel`)}
                />
                <input
                  class={styles.input}
                  placeholder="0"
                  value={this.value}
                  pattern="\d*" maxlength="6"
                  onInput={(e) => {if(Math.abs(+e.target.value) > 999999) {e.preventDefault(); return false;} this.value = +e.target.value}}
                />
                <div
                  class={styles.dollar}
                  domPropsInnerHTML="$"
                />
              </div>
              <div
                class={styles.description}
              >
                <span
                  domPropsInnerHTML={this.$t(`widget.inDescription`, {price: this.withoutFee})}
                />
              </div>
            </div>
            <div class={styles.out}>
              <div
                class={styles.title}
                domPropsInnerHTML={this.$t(`widget.outLabel`)}
              />
              <div
                class={styles.outValue}
              >
                <span
                  domPropsInnerHTML={this.$t(`widget.value`, {price: this.fee})}
                />
              </div>
              <div
                class={styles.description}
                domPropsInnerHTML={this.$t(`widget.outDescription`)}
              />
            </div>
          </div>
        </div>
      )
    }
  }
</script>

<style module lang="scss">
  @import "../assets/utilities";
  
  .widget {
    display: grid;
    grid-template-rows: 2fr 1fr;
    height: 750px;
  
    @include media($xs) {
      height: auto;
      grid-template-rows: 1fr;
    }
  }
  
  .top {
    position: relative;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
    }
    
    @include media($xs) {
      height: 300px;
    }
  
    @include media($xlt) {
      height: 190px;
    }
    
    &:before {
      background: #027CCD;
      left: 0;
      right: 42%;
      
      @include media($xs) {
        right: 46.5%;
      }
    }
    
    &:after {
      background: #5AC76C;
      right: 0;
      left: 58%;
  
      @include media($xs) {
        left: 53.5%;
      }
    }
  }
  
  .image {
    position: absolute;
    z-index: 1;
    left: 9%;
    right: 12%;
    bottom: 0;
    top: 0;
    background: no-repeat center url(../assets/svg/howItWorks.svg);
    background-size: contain;
    
    @include media($xs) {
      background-image: url(../assets/svg/howItWorksSmall.svg);
      left: 6%;
      right: 6%;
    }
  }
  
  .grid {
    background: #0B2C4D;
    display: grid;
    grid-template-columns: 58fr 42fr;
    padding: 46px 0;
  
    @include media($xs) {
      padding: 0;
      grid-template-columns: 54fr 46fr;
    }
  }
  
  .in {
    padding: 0 15px 0 55px;
  
    @include media($xs) {
      padding: 21px 15px;
    }
  }
  
  .title {
    font-size: 26px;
    line-height: 31px;
    font-weight: 700;
    color: #fff;
  
    @include media($xs) {
      font-size: 14px;
      line-height: 17px;
    }
  }
  
  .inForm {
    display: flex;
    align-items: center;
    margin-top: 1px;
  
    @include media($xs) {
      flex-wrap: wrap;
    }
  }
  
  .label {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
  
    @include media($xs) {
      margin-top: 10px;
      width: 100%;
      margin-bottom: 8px;
      font-size: 11px;
      line-height: 14px;
    }
  }
  
  .input {
    height: 57px;
    width: 150px;
    box-shadow: 0 0 0 1px #fff;
    border-radius: 5px;
    margin-left: 8px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 32px;
    line-height: 24px;
    letter-spacing: -.01em;
    transition: opacity .1s ease-in-out;
    
    &:not(:hover):not(:focus) {
      opacity: .8;
    }
  
    @include media($xs) {
      margin-left: 0;
      font-size: 18px;
      width: 100px;
    }
  }
  
  .dollar {
    margin-left: 11px;
    font-size: 32px;
    line-height: 24px;
    color: #fff;
    font-weight: 700;
  }
  
  .description {
    margin-top: 15px;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    height: 144px;
    position: relative;
    
    > span {
      position: absolute;
      left: 0;
      top: 0;
    }
  
    @include media($xs) {
      font-size: 11px;
      line-height: 14px;
      margin-top: 12px;
    }
  }
  
  .out {
    padding: 0 98px 0 68px;
  
    @include media($xs) {
      padding: 21px 15px;
    }
  }
  
  .outValue {
    margin-top: 20px;
    padding: 0 0 15px 0;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    white-space: nowrap;
    
    position: relative;
    height: 41px;
    letter-spacing: -.01em;
    
    > span {
      position: absolute;
      top: 0;
      left: 0;
    }
  
    @include media($xs) {
      font-size: 18px;
      padding-bottom: 4px;
      height: 30px;
    }
  }

</style>
