<script>
  import HeaderComponent from '../components/HeaderComponent'
  import TopComponent from '../components/TopComponent'
  import FeaturesComponent from '../components/FeaturesComponent'
  import HowItWorksComponent from '../components/HowItWorksComponent'
  import FutureComponent from '../components/FutureComponent'
  import ComparisonComponent from '../components/ComparisonComponent'
  import SubscriptionComponent from '../components/SubscriptionComponent'
  import FranchiseComponent from "../components/FranchiseComponent";
  import CoinsComponent from "../components/CoinsComponent";
  import FooterComponent from "../components/FooterComponent";
  import ModalComponent from "../components/ModalComponent";
  
  
  export default {
    render(h) {
      const styles = this.$style;
      
      return (
        <div class={styles.wrapper}>
          <div class={styles.page}>
            <HeaderComponent/>
            <TopComponent/>
            <FeaturesComponent/>
            <HowItWorksComponent/>
            <FutureComponent/>
            <ComparisonComponent/>
            <SubscriptionComponent/>
            <FranchiseComponent/>
            <CoinsComponent/>
            <FooterComponent/>
            <ModalComponent/>
          </div>
        </div>
      )
    }
  }
</script>

<style module lang="scss">
  @import "../assets/utilities";
  
  .wrapper {
    padding: 30px;
    
    @include media($xs) {
      padding: 6px;
    }
  }
  .page {
    box-shadow: 0 0 0 1px #E9E9E9;
  }
</style>
