$family: 'SF UI Display';

@each $name, $weight, $svgName in (
		(heavy, 900, 'SFUIDisplay-Heavy'),
		(bold, 700, 'SFUIDisplay-Bold'),
		(semibold, 600, 'SFUIDisplay-Semibold'),
		(medium, 500, 'SFUIDisplay-Medium'),
		(regular, 400, 'SFUIDisplay-Regular'),
		(light, 300, 'SFUIDisplay-Light'),
) {
	$file: './fonts/sf-ui/#{$name}';
	
	@font-face {
		font-family: $family;
		font-weight: $weight;
		font-style: normal;
		src: url('#{$file}.eot?#iefix') format('embedded-opentype'),
		url('#{$file}.woff2') format('woff2'),
		url('#{$file}.woff') format('woff'),
		url('#{$file}.ttf')  format('truetype'),
		url('#{$file}.svg##{$svgName}') format('svg');
	}
}
