@import "./fonts/sf-ui/index";

:root {
  font-family: 'SF UI Display', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
  appearance: none;
  border: none;
  background: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

button,
input,
textarea,
select,
option,
a {
  font: inherit;
  color: inherit;
}

body {
  overflow-y: hidden;
}

.body {
  height: 100vh;
  
  overflow-y: auto;
  overflow-x: hidden;
  
  @supports (-webkit-overflow-scrolling: touch) {
    -webkit-overflow-scrolling: touch;
  }
}
