@mixin media($size, $max: true) {
  @if ($max != true) {
    $max: 'min'
  } @else {
    $max: 'max'
  }
  @media(#{$max}-width: $size) {
    @content
  }
}

@mixin container {
  max-width: 1860px;
  margin: 0 auto;
}

$lt: 400px;
$xlt: 520px;
$xs: 768px;
$sm: 992px;
$md: 1070px;
$lg: 1240px;
$xlg: 1440px;
$xxlg: 1640px;
$screen: 1860px;
